body {
    /* background-color:rgb(14, 221, 221); */
    background-color: rgb(253, 253, 253);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

.contenedor {
    width: 100%;
    margin-top: 5em;
    position: relative;
    right: 15%;
    /* background-color: yellow; */

}

.hr1 {
    width: 37.5rem;
}

.headertitulo {
    font-family: 'Roboto Mono', monospace;
    align-content: center;
    text-align: center;
}

.minombre {

    font-size: 5em;
    letter-spacing: 0.2em;
    line-height: 1em;
}

.minombre h1 {
    font-size: 50px;
}

#presentacion h2 {
    margin-top: 1em;
    margin-left: 10%;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: normal;
    font-size: 24px;



}

.oficio::before {
    font-family: 'Abel', sans-serif;

    content: '';
    animation: changing 6s linear infinite;
    /* letter-spacing: 0.1875em;
    line-height: 20%;
    margin-top: 1.2em; */
}

@keyframes changing {
    0% {
        content: 'Tester trainee/junior ';
    }

    /* 50% {
        content: 'Programador trainee';
    } */
    100% {
        content: 'Desarrollador web trainee';
    }
}

.oficio hr {
    margin-top: 1em;
    border-top: 2px solid black;
}

.hr1 {
    margin-top: 1em;
    border-top: 1px solid black;
}

.line {
    position: relative;
    margin-top: 3.75em;
    margin-bottom: 3.75em;
    width: 37.5em;
    text-align: center;
    border-top: 2px solid black;

}

.contacto {
    position: relative;
    left: 35em;
}

#email {
    font-family: 'Rajdhani', sans-serif;
    position: relative;
    top: 1em;
    margin-top: 5em;
}

#email a {
    color: black;
    text-decoration: none;
    font-size: 26px;
}

.redes {
    margin-top: 20px;

}

.redes a {
    text-align: left;
    display: inline-block;
    text-decoration: none;
    color: black;

}


.icon-whatsapp {
    text-align: left;
    font-size: 4em;
    margin: 0.75rem;


}

.icon-facebook2 {
    text-align: left;
    font-size: 4em;
    margin: 0.75rem;
}

.icon-github {
    text-align: left;
    font-size: 4em;
    margin: 0.75rem;
}

.icon-linkedin2 {
    text-align: left;
    font-size: 4em;
    margin: 0.75rem;
}

.cv h3 {
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 4px;
    font-size: 26px;
    margin-top: 3em;
    margin-bottom: 1em;

}

.iconoprofile {
    display: flex;
    justify-content: center;
}

.icon-profile {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    /* background-color: aqua; */
}

.cvpage {

    text-decoration: none;
    bottom: 5em;
    margin-top: 4.7em;

}

.cvpage:hover {
    transform: rotateX(360deg);
    transition: 1s ease-in;


}


.cvpage a {
    color: black;
    text-decoration: underline black;
    font-family: 'Franklin Gothic Medium';
    font-size: 22px;

}

#hr2 {

    position: relative;
    border-top: 1px solid black;
    width: 75rem;
}

.card {
    border: 10px solid rgb(22, 22, 22);
    font-size: 15px;
    background-color: rgb(22, 22, 22);
    /* border: none; */
}

.card:hover {

    transform: scale(1.2);
    transition: .3s ease-in-out;


}

.card h5 {
    background-color: rgb(22, 22, 22);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    height: 30px;
    color: rgb(255, 255, 255);
    border-color: rgb(22, 22, 22);
    ;

}

.card a {
    background-color: white;

}

/* .cv hr {
    /* position: relative; */
/* right: 14%; */
/* border-top: 2px solid black; */
/* width: 75rem; */

/* } */
.col-sm-4 img {

    bottom: 0;
    margin-top: 220px;
}

.img-fluid {
    margin-top: 10em;

}

.info a {
    flex: auto;
    max-width: 100%;
    width: 675px;
    font-size: 12em;
    /* margin: 3.125rem; */
    color: black;
    text-decoration: none;
}


.caja {
    background-color: rgb(248, 248, 248);
    margin: 40px;
    border: 10px solid black;
    border-bottom: 3.125rem solid black;
}

.aboutme {
    height: 80em;
    width: 50%;
    padding: 10%;
    color: black;
    font-size: 1.600rem;
    margin-top: 5em;
}

.volver {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    font-size: 5em;


    position: fixed;
    bottom: 50%;
    top: 90%;
    left: 75%;

}

.redes a:hover {
    transform: skew(355deg);
}

.icon-circle-up {
    color: rgb(77, 77, 77);


}